/* Pagination.module.css */

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem;
  padding: 0.5rem;
  overflow: visible;
  flex-wrap: wrap;
}

.pagination-button {
  background-image: linear-gradient(to bottom right, #fbdb89, #f48982);
  color: white;
  border: none;
  padding: 2rem;

  height: 40px;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-button:hover:not(:disabled) {
  background-color: #333;
}

.pagination-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.pagination-button.active {
  background-color: red;
  font-weight: bold;
}
