.search-results {
  width: 20rem;
  background-color: whitesmoke;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.search-results__message {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
  color: #242424;
}

.search-results__error {
  color: orangered;
  font-size: 2rem;
}

.search-results-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.spinner {
  animation: spin 1s linear infinite;
  font-size: 5rem;
  color: #e63946;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
